{% extends "base.html" %} {%block title%}
<title>Home</title>
{%endblock %} {%block content%} {% load static %}
<section id="menu" class="menus">
  <h1 class="h1-responsive font-weight-bold text-center my-4">Menus</h1>

  <div class="card">
    <table id="tablePreview" class="table">
      <thead class="pink white-text">
        <tr>
          <th>#</th>
          <th>Item</th>
          <th>Price</th>
          <th>Add to cart</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>
            <h5>Special Rice</h5>
            <p>Minced meat & peas</p>
          </td>
          <td>Otto</td>
          <td>
            <button type="button" class="btn btn-pink px-3">
              <i class="fas fa-cart-plus" aria-hidden="true"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
{%endblock content%}
