{% extends "base.html" %} {%block title%}
<title>Menus</title>
{%endblock title %} {%block content%} {% load static %}
<section id="menu" class="menus">
  <h1 class="h1-responsive font-weight-bold text-center my-4">Menus</h1>
  {% for message in messages%}
  <div class="alert alert-secondary" role="alert">{{message}}</div>
  {% endfor %}
  <div class="card">
    <table id="tablePreview" class="table">
      <thead class="pink white-text">
        <tr>
          <th>#</th>
          <th>Item</th>
          <th>Price</th>
          <th>Add to cart</th>
        </tr>
      </thead>

      <tbody>
        {% for i in menus %}
        <tr>
          <th scope="row">{{i.id}}</th>
          <td>
            <h5>{{i.title}}</h5>
            <p>{{i.description}}</p>
          </td>
          <td>£{{i.price}}</td>
          <td>
            {% if user.is_authenticated %}
            <a href="{% url 'cart' i.id %}" class="btn btn-pink px-4 p-1">
              <i class="fas fa-cart-plus" aria-hidden="true"></i>
            </a>
            {% else %}
            <a href="{% url 'login'%}" class="btn btn-red px-4 p-1">
              <i class="fas fa-cart-plus" aria-hidden="true"></i>
            </a>
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</section>
{%endblock content%}
