{% extends "pgadmin.html" %} {%block admin%} {% load static %}
<main class="pt-5 mx-lg-5">
  <div class="container-fluid mt-1">
    <!-- Heading -->
    <div class="card mb-4 wow fadeIn">
      <!--Card content-->
      <div class="card-body d-sm-flex justify-content-between">
        <h4 class="mb-2 mb-sm-0 pt-1">
          <span>Orders</span>
        </h4>

        <form class="d-flex justify-content-center">
          <!-- Default input -->
          <input
            type="search"
            placeholder="Type your query"
            aria-label="Search"
            class="form-control"
          />
          <button class="btn btn-mdb-color btn-sm my-0" type="submit">
            <i class="fas fa-search"></i>
          </button>
        </form>
      </div>
    </div>
    <!-- Heading -->

    <div class="row wow fadeIn">
      <!--Grid column-->
      <div class="col-md-12 mb-4">
        <!--Card-->
        <div class="card">
          <!--Card content-->
          <div class="card-body">
            <!-- Table  -->
            <table class="table table-hover">
              <!-- Table head -->
              <thead>
                <tr>
                  <th>#</th>
                  <th>Ordered Item</th>
                  <th>Status</th>
                  <th>Ordered By</th>
                </tr>
              </thead>

              <tbody>
                {% for i in order %}
                <tr>
                  <th scope="row">{{ forloop.counter }}</th>
                  <td>
                    {% for item in i.orderitems.all %} {{ item }}
                    <br />
                    {% endfor %}
                  </td>

                  <td>
                    <span class="badge badge-primary p-2">{{i.status}}</span>
                  </td>
                  <td>{{i.customer.first_name}} {{i.customer.last_name}}</td>
                  <td>
                    <a
                      class="btn btn-secondary btn-sm p-1 px-2"
                      href="{% url 'menu_update' i.id%}"
                      ><i class="fas fa-edit"></i
                    ></a>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
              <!-- Table body -->
            </table>
            <!-- Table  -->
          </div>
        </div>
        <!--/.Card-->
      </div>
      <!--Grid column-->
    </div>
  </div>
</main>
{%endblock admin%}
