@import url("https://fonts.googleapis.com/css2?family=Caveat&family=Comfortaa:wght@400;700&display=swap");
* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Comfortaa", cursive;
  scroll-behavior: smooth;
}
body {
  background: #dedede;
}
section {
  background: #dedede;
  overflow: hidden;
  margin-top: 0;
}
.card {
  overflow: hidden;
}

/*Navbar Section*/
.navbar-brand {
  font-family: "Black Ops One", cursive;
  font-weight: 600;
  padding: 10px;
  margin-right: 130px;
}

/*Carousel Section*/
.carousel-item img {
  overflow: hidden;
  height: 520px;
  -o-object-fit: cover;
  object-fit: cover;
}

.carousel-caption {
  padding-bottom: 250px !important;
}

.carousel-caption h5 {
  font-size: 35px !important;
  color: #ffffff !important;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
  font-family: "Satisfy", cursive;
}

.carousel-caption p {
  font-size: 20px !important;
  color: #d9d9d9 !important;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  font-family: "Raleway", sans-serif;
}

.carousel-item .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: black;
  opacity: 0.7;
}

/*about section*/
.about,
.menus,
.service,
.contact,
.checkout {
  padding: 50px;
}
.account {
  padding: 70px;
}
.service .card p {
  font-size: 14px;
}
section h1,
section h2 {
  font-weight: 600;
  padding-bottom: 10px;
  color: #e91e63;
}
.about div {
  padding-top: 10px;
}
.login {
  background-color: #dfdfdf;
  margin-top: 90px;
  width: 30%;
  margin: 1%;
  left: 35%;
}
.login img {
  margin-bottom: 22px;
  border-radius: 100%;
  object-fit: cover;
  width: 150px;
  box-shadow: 0px 2px 5px 1px gray;
}
.address {
  font-size: 22px;
  color: #525252;
}
/*Menu Accordion*/
a:focus,
a:hover,
a:active {
  outline: 0;
  text-decoration: none;
}

.panel:last-child {
  border-bottom: none;
}

.panel-group .panel + .panel {
  margin-top: 0;
}

.panel-heading {
  background-color: #dfdfdf;
  border-radius: 0;
  border: none;
  color: rgb(65, 65, 65);
  padding: 10px;
}

.panel-title a {
  display: block;
  color: rgb(65, 65, 65);
  padding: 15px;
  position: relative;
  font-size: 18px;
  font-weight: 400;
}

.panel-body {
  background: #dfdfdf;
  padding: 10px;
}

.panel:last-child .panel-body {
  border-radius: 0 0 4px 4px;
}

.panel:last-child .panel-heading {
  border-radius: 0 0 4px 4px;
  transition: border-radius 0.3s linear 0.2s;
}

.panel:last-child .panel-heading.active {
  border-radius: 0;
  transition: border-radius linear 0s;
}
/* #bs-collapse icon scale option */

.panel-heading i:before {
  position: absolute;
  right: 5px;
  top: 10px;
  font-size: 24px;
  transition: all 0.5s;
  transform: scale(1);
}

.panel-heading.active i:before {
  transition: all 0.5s;
  transform: scale(0);
}

#bs-collapse .panel-heading i:after {
  font-size: 24px;
  position: absolute;
  right: 5px;
  top: 10px;
  transform: scale(0);
  transition: all 0.5s;
}

#bs-collapse .panel-heading.active i:after {
  transform: scale(1);
  transition: all 0.5s;
}
/* #accordion rotate icon option */

#accordion .panel-heading i:before {
  font-size: 24px;
  position: absolute;
  right: 5px;
  top: 10px;
  transform: rotate(180deg);
  transition: all 0.5s;
}

#accordion .panel-heading.active i:before {
  transform: rotate(0deg);
  transition: all 0.5s;
}

footer .dev a {
  font-family: "Caveat", cursive;
}

@media screen and (max-width: 930px) {
  .login {
    left: 1%;
    width: 95%;
    margin: 2%;
  }
  .address {
    font-size: 18px;
    color: #525252;
  }
}
