{% extends 'base.html' %} {% block title %}{% load crispy_forms_tags %}
<title>Password Reset</title>
{% endblock title %} {% block content %}
<div class="animated fadeInDown card login">
  <form class="text-center border border-light p-5" method="POST">
    {% csrf_token%}
    <p class="h4 mb-4">Password Reset</p>

    <p>Forgotten your password?</p>
    <p></p>
    <p class="m-5 text-danger">
      Enter your email address below, and we’ll email instructions for setting a
      new one.
    </p>
    {% csrf_token %} {{form|crispy}}
    <input class="btn btn-light" type="Submit" name="Send Email" />
  </form>
</div>

{% endblock content %}
