{% extends 'base.html' %} {% block title %}{% load crispy_forms_tags %}
<title>Reset Password</title>
{% endblock title %} {% block content %}
<div class="animated fadeInDown card login">
  <form class="text-center border border-light p-5" method="POST">
    {% csrf_token%}
    <p class="h4 mb-4">Reset Password</p>

    {% csrf_token %} {{form | crispy}}

    <input
      value="Update Password"
      class="btn btn-pink btn-block my-4"
      type="submit"
    />
  </form>
</div>

{% endblock content %}
