{% extends 'base.html' %} {% block title %}
<title>Password reset sent</title>
{% endblock title %} {% block content %}
<div class="container mt-5 pt-5 mb-5 pb-5 text-center">
  <h3>Password Reset Sent</h3>

  <p>
    We’ve emailed you instructions for setting your password, if an account
    exists with the email you entered. You should receive them shortly.
  </p>
  <p class="text-warning">
    If you don’t receive an email, please make sure you’ve entered the address
    you registered with, and check your spam folder.
  </p>
  <a class="btn btn-success" href="{% url 'home' %}"
    ><strong>Go Back Home</strong></a
  >
</div>

{% endblock content %}
