{% extends 'base.html' %} {% block title %}
<title>Sign Up</title>
{% endblock title %} {% block content %}
<style>
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    border: none;
    color: #2c2c2c;
    text-align: left;
    font-size: 16px;
    margin: 5px;
    width: 95%;
    border-radius: 4px;
    padding: 6px;
    outline: none;
    border: 1px solid #dadada;
  }
</style>
<div class="card login">
  <form class="border border-light p-5" method="POST">
    <p class="text-center h4 mb-4">Sign Up</p>
    {% csrf_token%} {{form.username}} {{form.email}} {{form.password1}}
    {{form.password2}}

    <!-- Sign in button -->
    <button class="btn btn-pink btn-block my-4" type="submit">Sign Up</button>
    {% for message in messages%}
    <p class="text-center text-danger" id="messages">{{message}}</p>
    {% endfor %}
    <!-- Register -->
    <p class="text-center">
      Already a member?
      <a href="{% url 'login' %}">Login</a>
    </p>
  </form>
</div>

<script>
  var form_fields = document.getElementsByTagName("input");
  form_fields[1].placeholder = "Username";
  form_fields[2].placeholder = "Email";
  form_fields[3].placeholder = "Enter password";
  form_fields[4].placeholder = "Re-enter Password";
</script>
{% endblock content %}
