<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {%block title%} {%endblock title%} {%load static%}
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.11.2/css/all.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Black+Ops+One&display=swap"
    />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}" />
    <link rel="stylesheet" href="{% static 'css/mdb.min.css' %}" />
  </head>
  <body>
    <header>
      <!--Navbar -->
      <nav
        class="mb-0 fixed-top navbar navbar-expand-lg navbar-dark secondary-color pink lighten-1"
      >
        <a class="navbar-brand" href="#">Pink Garlic</a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent-555"
          aria-controls="navbarSupportedContent-555"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent-555">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'home' %}">Home </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'home' %}#about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'home' %}">Gallary</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'home' %}">Menus</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
          </ul>
          <ul class="navbar-nav ml-auto nav-flex-icons">
            {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link waves-effect waves-light"
                >1
                <i class="fas fa-cart-plus"></i>
              </a>
            </li>
            <li class="nav-item avatar dropdown">
              <a
                class="nav-link dropdown-toggle"
                id="navbarDropdownMenuLink-55"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                <img
                  width="30"
                  src="{{request.user.customer.profile_pic.url}}"
                  class="rounded-circle z-depth-0"
                  alt="avatar image"
                />
              </a>
              <div
                class="dropdown-menu dropdown-menu-lg-right dropdown-secondary"
                aria-labelledby="navbarDropdownMenuLink-55"
              >
                <a class="dropdown-item" href="{% url 'profile' %}">Profile</a>
                <a class="dropdown-item" href="#">Orders</a>
                <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
              </div>
            </li>
            {% else %}
            <li class="nav-item">
              <a
                href="{% url 'register' %}"
                class="nav-link waves-effect waves-light"
                ><button
                  style="border-radius: 40px"
                  type="button"
                  class="btn btn-light"
                >
                  Sign Up
                </button>
              </a>
            </li>
            {% endif %}
          </ul>
        </div>
      </nav>
      <!--/.Navbar -->
    </header>
    {%block content%} {%endblock content%}
    <!-- Footer -->
    <footer class="page-footer font-small pink darken-3">
      <!-- Footer Elements -->
      <div class="container">
        <!-- Grid row-->
        <div class="row">
          <!-- Grid column -->
          <div class="col-md-12 py-5">
            <div class="mb-5 flex-center">
              <!-- Facebook -->
              <a class="fb-ic">
                <i
                  class="fab fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x"
                >
                </i>
              </a>
              <!-- Twitter -->
              <a class="tw-ic">
                <i class="fab fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x">
                </i>
              </a>
              <!-- Google +-->
              <a class="gplus-ic">
                <i
                  class="fab fa-google-plus-g fa-lg white-text mr-md-5 mr-3 fa-2x"
                >
                </i>
              </a>
              <!--Linkedin -->
              <a class="li-ic">
                <i
                  class="fab fa-linkedin-in fa-lg white-text mr-md-5 mr-3 fa-2x"
                >
                </i>
              </a>
              <!--Instagram-->
              <a class="ins-ic">
                <i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x">
                </i>
              </a>
              <!--Pinterest-->
              <a class="pin-ic">
                <i class="fab fa-pinterest fa-lg white-text fa-2x"> </i>
              </a>
            </div>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row-->
      </div>
      <!-- Footer Elements -->

      <!-- Copyright -->
      <div class="footer-copyright text-center py-3">
        © 2020 Copyright:
        <a href="/"> pinkgalric.com</a>
      </div>
      <!-- Copyright -->
    </footer>
    <!-- Footer -->
    <!--JavaScript-->
    {%load static%}
    <script
      type="text/javascript"
      src="{% static 'js/jquery.min.js' %}"
    ></script>
    <script
      type="text/javascript"
      src="{% static 'js/popper.min.js' %}"
    ></script>
    <script
      type="text/javascript"
      src="{% static 'js/bootstrap.min.js' %}"
    ></script>
    <script type="text/javascript" src="{% static 'js/mdb.min.js' %}"></script>
  </body>
</html>
